.gpt-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 1400px;

  &__section {
    display: flex;
    margin-bottom: 32px;

    &--file {
      > *:not(:last-child) {
        margin-right: 8px;
      }
    }

    &__item {
      &--inline {
        flex-basis: 22%;
        margin-right: 24px;
      }

      &--list {
        margin-bottom: 24px;
      }

      &--wide {
        flex-basis: 100%;
      }

      &--hidden {
        display: none;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.5);
    height: 40px;
    box-sizing: border-box;
    width: 400px;

    margin-top: -24px;
    margin-right: -24px;
    margin-left: -24px;
    padding: 1em;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 24px;

    &__title {
      font-size: 16px;
      font-weight: normal;
    }

    &__close-button {
      margin-left: auto;
    }
  }

  &__field {
    width: 100%;
    box-sizing: border-box;

    ::ng-deep .mat-form-field-outline {
      &:hover {
        border-color: yellow;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: 1em;
    }

    &__cancel {
      color: gray;
      font-weight: normal;
    }
  }
}
