/* You can add global styles to this file, and also import other style files */
@import 'styles/theme';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700i,800');
@import 'styles/buttons';

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #f4f4f4;
}
