<div class="gpt-constitution">
  <div class="row row--stretch">
    <div class="column">
      <gpt-previous-information
        (onChanges)="updatePrevInfo($event)"
        [values]="prevInfoValues || {}"
      ></gpt-previous-information>
      <!--TABS SECTION::START-->
      <div class="gpt-constitution__aside">
        <mat-tab-group>
          <mat-tab label="Objetivos">
            <gpt-objectives [objectives]="objectives | async"></gpt-objectives>
          </mat-tab>
          <mat-tab label="Hitos">
            <gpt-milestones
              [milestones]="milestones | async"
              (onEdit)="editMilestone($event)"
            ></gpt-milestones>
          </mat-tab>
          <mat-tab label="Fases">
            <gpt-phases
              [phases]="phases | async"
              (onEdit)="editPhases($event)"
            ></gpt-phases>
          </mat-tab>
        </mat-tab-group>
        <button
          mat-icon-button
          class="gpt-constitution__aside-menu button--small button--solid"
          [matMenuTriggerFor]="asideMenu"
        >
          <mat-icon svgIcon="add"></mat-icon>
        </button>
        <mat-menu #asideMenu="matMenu">
          <button mat-menu-item (click)="openObjectivesForm()">
            Agregar nuevo Objetivo
          </button>
          <button mat-menu-item (click)="openMilestonesForm()">
            Agregar Nuevo Hito
          </button>
          <button mat-menu-item (click)="openPhasesForm()">
            Agregar Nueva Fase
          </button>
        </mat-menu>
      </div>
      <!--TABS SECTION::END-->
    </div>
    <div class="column">
      Documentacion
    </div>
  </div>
</div>
