<mat-nav-list class="gpt-sidebar">
  <a mat-list-item class="gpt-sidebar__link" *ngFor="let link of links" routerLink="{{ link.href }}"
    routerLinkActive="active">
    <mat-icon *ngIf="link.isSvg" matListIcon class="gpt-sidebar__link__icon" svgIcon="{{ link.icon }}"></mat-icon>

    <mat-icon *ngIf="!link.isSvg" matListIcon class="gpt-sidebar__link__icon" routerLinkActive="active">
      {{link.icon}}
    </mat-icon>

    <span class="gpt-sidebar__link__title" matLine>
      {{link.title}}
    </span>
  </a>
</mat-nav-list>