:host {
  .gpt-sidebar {
    min-width: 150px;
    height: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 24px 0;

    &--expanded {
      height: 56px;
    }

    &__link {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      font-size: 14px;
      font-style: normal;
      box-sizing: border-box;
      padding: 0 16px;

      &.active {
        background-color: white;
        border-left: 4px solid #205081;
        color: #205081;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);

        & .gpt-sidebar__link__icon {
          fill: #205081;
        }
      }

      &__icon {
        color: #b1aeae;
      }
    }
  }

  ::ng-deep .mat-list-text {
    padding-left: 0.5em !important;
  }
}
