.gpt-list {
  position: relative;
  padding-top: 32px;

  &__add-button {
    position: absolute;
    left: 8px;
    top: 0;
  }

  &-item {
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-radius: 4px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &__menu {
      position: absolute;
      right: 16px;
      top: 8px;
    }

    &__main-info {
      padding: 16px 32px 8px 32px;
    }

    &__title {
      display: flex;
      align-items: center;
      font-size: 18px;

      &__prefix {
        font-size: 12px;
        color: #2653ce;
        margin-right: 8px;
      }
    }

    &__secondary-info {
      display: flex;
      padding: 16px 32px;
      background-color: #efefef;

      &-item {
        margin-right: 32px;

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}
