<div *ngFor="let i of itemsValue; index as j" class="gpt-list-item">
  <a
    type="button"
    mat-icon-button
    class="gpt-list-item__menu button--small"
    [matMenuTriggerFor]="itemMenu"
  >
    <mat-icon svgIcon="more-menu" class="button--solid button--small">
    </mat-icon>
  </a>
  <mat-menu #itemMenu>
    <button mat-menu-item (click)="onEdit(i, j)">Editar</button>
    <button mat-menu-item>Remover</button>
  </mat-menu>

  <div class="gpt-list-item__main-info">
    <div class="gpt-list-item__title">
      <span *ngIf="i[itemSchema.prefix]" class="gpt-list-item__title__prefix">
        {{ i[itemSchema.prefix] }}
      </span>
      {{ i[itemSchema.title] }}
    </div>
    <mat-card-subtitle>
      <p>
        {{ i[itemSchema.mainInfo] }}
      </p>
    </mat-card-subtitle>
  </div>
  <div class="gpt-list-item__secondary-info">
    <div
      *ngFor="let secondaryInfo of itemSchema.secondaryInfo"
      class="gpt-list-item__secondary-info-item"
    >
      <div class="gpt-list-item__secondary-info-item__title">
        {{ secondaryInfo.title }}
      </div>
      <mat-card-subtitle>
        <p>
          {{ i[secondaryInfo.info] }}
        </p>
      </mat-card-subtitle>
    </div>
  </div>
</div>
