<div
  [ngClass]="{
    'gpt-list': true,
    'gpt-list--fixed-length': isFixedLength
  }"
>
  <button
    *ngIf="!isFixedLength"
    mat-icon-button
    class="gpt-list__add-button button--small button--solid"
    (click)="addNewItem()"
  >
    <mat-icon svgIcon="add"></mat-icon>
  </button>
  <ng-container *ngFor="let i of itemsValue; index as j">
    <div *ngIf="i && !i.$wasDeleted" class="gpt-list-item">
      <button
        type="button"
        mat-icon-button
        class="gpt-list-item__menu button--small"
        [matMenuTriggerFor]="itemMenu"
      >
        <mat-icon svgIcon="more-menu" class="button--solid button--small">
        </mat-icon>
      </button>
      <mat-menu #itemMenu>
        <button mat-menu-item (click)="onEdit(i, j)">Editar</button>
        <button *ngIf="!isFixedLength" (click)="onRemove(i, j)" mat-menu-item>
          Remover
        </button>
      </mat-menu>

      <div class="gpt-list-item__main-info">
        <div class="gpt-list-item__title">
          <span
            *ngIf="i[itemSchema.prefix]"
            class="gpt-list-item__title__prefix"
          >
            {{ i[itemSchema.prefix] }}
          </span>
          {{ i[itemSchema.title] }}
          <span *ngIf="i[itemSchema.sufix]" class="gpt-list-item__title__sufix">
            {{ i[itemSchema.sufix] }}</span
          >
        </div>
        <mat-card-subtitle>
          <p>
            {{ i[itemSchema.mainInfo] }}
          </p>
        </mat-card-subtitle>
      </div>
      <div *ngIf="itemSchema.sections" class="gpt-list-item__sections">
        <div
          *ngFor="let section of itemSchema.sections"
          class="gpt-list-item__section"
        >
          <div class="gpt-list-item__section__label">
            {{ section.label }}
          </div>
          <div class="gpt-list-item__section__content">
            <div
              *ngFor="let data of section.data"
              class="gpt-list-item__section__content__item"
            >
              <div class="gpt-list-item__section__item__title">
                {{ data.title }}
              </div>
              <mat-card-subtitle>
                <p>
                  {{ getFromItem(i, data.info) }}
                </p>
              </mat-card-subtitle>
            </div>
          </div>
        </div>
      </div>
      <div class="gpt-list-item__secondary-info">
        <div
          *ngFor="let secondaryInfo of itemSchema.secondaryInfo"
          class="gpt-list-item__secondary-info-item"
        >
          <div class="gpt-list-item__secondary-info-item__title">
            {{ secondaryInfo.title }}
          </div>
          <mat-card-subtitle>
            <p *ngIf="!secondaryInfo.renderAsURL">
              {{ i[secondaryInfo.info] }}
            </p>
            <a *ngIf="secondaryInfo.renderAsURL" [href]="secondaryInfo.url(i)">
              {{ i[secondaryInfo.info] }}
            </a>
          </mat-card-subtitle>
        </div>
      </div>
    </div>
  </ng-container>
</div>
