:host {
  display: block;
}

:host,
:host * {
  box-sizing: border-box;
  height: auto;
}

.gpt-input {
  display: flex;
  flex-direction: column;
  position: relative;
  color: gray;
  background-color: transparent;
  margin-bottom: 1em;

  input,
  label {
    transition: all, 0.2s;
    transform-origin: left bottom;
  }

  &:not(.no-placeholder) label {
    width: 100%;
    height: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    top: 1em;
  }

  input {
    margin-top: 1em;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.125);
    padding: 0.5em;
    padding-left: 0;
    height: 2em;
    font-size: 14px;
    background-color: transparent;
  }

  input:focus {
    outline: none;
  }

  &:not(.no-placeholder) input:valid + label,
  &:not(.no-placeholder) input:focus + label {
    transform: translate(0, -1em) scale(0.9);
    font-size: 0.75em;
  }

  &:not(.no-placeholder) ::placeholder {
    opacity: 0;
  }

  &.no-placeholder ::placeholder {
    font-style: italic;
    color: #999;
  }
}
