.gpt-objective {
  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__main-info {
    padding: 16px 32px 8px 32px;
  }

  &__identity {
    display: flex;
    align-items: center;
    font-size: 16px;

    &__code {
      font-size: 12px;
      color: #2653ce;
      margin-right: 8px;
    }
  }

  &__secondary-info {
    &__criteria {
      font-size: 14px;
    }
    padding: 16px 32px;
    background-color: #efefef;
  }
}
