$squid-ink-blue: (
  50: #d6e7ff,
  100: #8ab9ff,
  200: #5297ff,
  300: #0a6dff,
  400: #005eeb,
  500: #0052cc,
  600: #0046ad,
  700: #00398f,
  800: #002d70,
  900: #002152,
  A100: #cce0ff,
  A200: #66a3ff,
  A400: #0066ff,
  A700: #005ce6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$pacific-bridge-blue: (
  50: #ffffff,
  100: #ccdef0,
  200: #a1c2e3,
  300: #6a9ed2,
  400: #538ecb,
  500: #3b7fc4,
  600: #3470ac,
  700: #2d6195,
  800: #26517d,
  900: #1f4266,
  A100: #ffffff,
  A200: #a1ccf7,
  A400: #5398df,
  A700: #498cd0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);
